{% extends 'base2.html' %}
{% block title %}Nueva Categoría{% endblock %}

{% block content %}
<h2>Nueva Categoría</h2>

<form method="POST">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" id="nombre" name="nombre" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <textarea id="descripcion" name="descripcion" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Guardar</button>
  <a href="{{ url_for('categorias.listar_categorias') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
